@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.backToTop {
  position: fixed;
  bottom: 5%;
  right: 3%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 100%;
  box-shadow: .5rem .5rem 1rem #888;
  z-index: 1000;
}

header {
  height: 70vh;
  background-repeat: no-repeat;
  background-color: #122620;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  header {
    height: 80vh;
  }

  .menuBtn {
    display: block !important;
  }

  .topNav {
    display: none !important;
  }
}

.visible {
  display: block !important;
}

.menuBtn {
  display: none;
  position: absolute;
  right: 5%;
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .sideNav {
    display: none !important;
  }
}

.topNav {
  display: flex;
  grid-gap: 1rem;
}

.sideNav {
  display: none;
  transition: all .5s;
  width: 100%;
  text-align: center;
  background-color: #D6AD60;
}

.sideNav ul {
  padding: 1rem 0;
}

.sideNav ul li {
  padding: 1rem 0;
}

.myname {
  text-shadow: 2px 2px 5px #111;
}

.l-spacing {
  letter-spacing: .15rem;
}

.aboutyour {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  /* -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: #fff; */
  /* text-shadow: -1px 1px 0 #000,
              1px 1px 0 #000,
              1px 1px 0 #000,
              -1px 1px 0 #000; */
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px 1px 0 #000,
              -1px 1px 0 #000;
}

.nextproject {
  font-size: 2.5rem;
  font-weight: 900;
}